@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');

:root {
    --button-purple-color: #620fe8;
}

body {
    margin: 0;
    font-family: 'Lato', 'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    background-color: #fafafa;
    color: #080808;

    font-size: 1.1em;
}

.container {
    width: auto !important;
    max-width: 1140px !important;
}

.flex-spacer {
    flex: 1;
}

.button {
    font-family: inherit;
    font-size: 1em;
    font-weight: 700;

    padding: 0.33em 0.67em;

    border-width: 0.2em;
    border-style: solid;
    border-radius: 1.33em;

    background-color: #fff;
    border-color: var(--button-purple-color);
    color: var(--button-purple-color);

    transition: background-color 0.1s ease-out, color 0.1s ease-out;
}

.button:hover {
    cursor: pointer;

    background-color: var(--button-purple-color);
    color: #fff;
}

.button.big {
    font-size: 1.4em;
}

button[disabled],
button[disabled]:hover {
    cursor: default;
    color: #888;
    border-color: #888;
    background-color: #fff;
}

.connect-to-metamask {
    display: flex;
    justify-content: center;

    margin-top: 25vh;
}

.input {
    font-size: 0.95em;
    font-family: inherit;

    border: 1px solid #888;
    border-radius: 0.5em;
    padding: 0.5em 0.75em;
}

.input.error {
    border-color: #ff0000;
}

.input-error {
    color: #ff0000;
}

.one-input-form .one-input-form-input-group {
    display: flex;
}

.one-input-form .one-input-form-input-group .input {
    flex: 1;
    margin-right: 0.5em;
}

table, th, td {
    border: 1px solid #555;
    border-collapse: collapse;
}

th, td {
    padding: 0.5em 1em;
}

.app-error {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: #ffeeee;

    font-size: 1.5em;
    color: #991010;
}

.app-header {
    background-color: #fff;
    box-shadow: 0 1px 2px rgb(208 208 208);

    padding: 5px 10px;

    display: flex;
}

.current-workflow-status-banner {
    background-color: var(--button-purple-color);
    color: #fff;

    padding: 10px 20px;
    border-radius: 1.5em;
}

.app-navbar {
    margin-bottom: 1rem;
}

.app-navbar ul {
    display: flex;
    flex-wrap: wrap;

    margin: 0;
    padding: 0;
}

.app-navbar li {
    list-style: none;
}

.app-navbar li > .navbar-disabled-item,
.app-navbar li > a {
    text-decoration: none;

    display: inline-block;
    padding: 10px;

    font-weight: 700;
    font-size: 1.1em;
}

.app-navbar li > .navbar-disabled-item {
    cursor: default;
    color: #888;
}

.app-navbar li > a {
    color: var(--button-purple-color);

    transition: border-bottom-color 0.1s ease-out;
}

.app-navbar li > a.active {
    border-bottom: 3px solid var(--button-purple-color);
}

.app-navbar li > a:not(.active) {
    border-bottom: 3px solid #ffffff00; /* Transparent */
}

.page-content {
    background-color: #fff;
    border-radius: 1.5em;

    padding: 10px 20px;

    box-shadow: 0 0 3px rgb(208 208 208);
}

.admin-workflow-status-item {
    display: flex;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}

.admin-workflow-status-item.current {
    font-weight: 700;
}

.admin-workflow-status-item:not(.current) {
    color: #888;
}

.admin-workflow-status-num {
    width: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.admin-workflow-status-num span {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 1.5em;
    height: 1.5em;

    border: 2px solid var(--button-purple-color);
    border-radius: 1em;
}

.admin-workflow-status-item:not(.current) .admin-workflow-status-num span {
    border-color: #888;
}

.admin-workflow-status-block {
    padding-left: 1em;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.admin-workflow-status-action-container {
    margin-top: 0.5em;
}

.contract-address {
    margin-top: 0.5em;

    text-align: center;
    font-size: 0.9em;
    color: #888;
}

@media (max-width: 767px) {
    .one-input-form {
        flex-direction: column;
    }

    .one-input-form .input {
        margin-right: 0;
        margin-bottom: 0.5em;
    }
}
